.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
}
li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  height: 100px;
  width: 100%;
  background: darkcyan;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
}

.navigation-list-item {
  font-size: 24px;
}

.navigation-list-link {
  position: relative;
  color: white; /*задаём цвет ссылки*/
  cursor: pointer;
  line-height: 2; /*задаём высоту строки*/
  text-decoration: none; /*убираем подчёркивание*/
}
.navigation-list-link:hover {
  color: gold;
}

.navigation-list-link::after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 4px; /*задаём ширину линии*/
  background-color: gold; /*задаём цвет линии*/
  content: "";
  transition: width 0.5s ease-out; /*задаём время анимации*/
}

a:hover:after,
a:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.navigation-list-link:hover {
  opacity: 1;
}

.mainPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  background: darkgrey;
}
.profile {
  display: flex;
  gap: 200px;
}
.avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profile-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer {
  display: flex;
  height: 50px;
  background-color: darkorange;
}
